
<!DOCTYPE html>
<html lang="es">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Indicador de Calidad del Aire</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'estilo_semaforo.css' %}">

</head>
<body>
    <header>
        <div class="header-content">
            <button class="back-button" onclick="goBack()">← Volver</button>
            <h1>Indicador de Calidad del Aire</h1>
            {% if comuna %}
                <h2>Comuna seleccionada: <strong>{{ comuna.nombre_comuna }}</strong></h2>
            {% else %}
                <h2>Mostrando niveles para todas las comunas</h2>
            {% endif %}
            <div class="date-picker-container">
                <label for="datePicker">Selecciona una fecha:</label>
                <input type="date" id="datePicker" name="fecha" max="" onchange="updateDate()" />
            </div>
        </div>
    </header>
<div class="content-wrapper">
<main>
    <div class="semaforos-container">
        {% for particula, estado_color in air_quality_data.items %}
        <div class="semaforo">
            <div class="traffic-light">
                {% if estado_color == 'No hay datos' %}
                    <p class="no-data">Hoy no hay datos para {{ particula }}</p>
                {% else %}
                <div class="light red {% if estado_color.estado == 'rojo' %}active{% endif %}"></div>
                <div class="light orange {% if estado_color.estado == 'naranja' %}active{% endif %}"></div>
                <div class="light yellow {% if estado_color.estado == 'amarillo' %}active{% endif %}"></div>
                <div class="light green {% if estado_color.estado == 'verde' %}active{% endif %}"></div>
                {% endif %}
            </div>
            <div class="particle-name">{{ particula }}</div>
            <div class="particle-description">
                <small>{{ estado_color.descripcion }}</small>
            </div>
            <!-- Tooltip dinámico -->
            <div class="tooltip">
                <strong>{{ particula }} </strong> ({{ estado_color.descripcion }})
                {% if estado_color.estado == 'rojo' %}
                ☠️ Calidad Insalubre: Todos pueden experimentar efectos adversos para la salud.
                {% elif estado_color.estado == 'naranja' %}
                😷 Calidad No saludable para grupos sensibles: Precaución para personas vulnerables.
                {% elif estado_color.estado == 'amarillo' %}
                😐 Calidad Moderado: Condiciones aceptables, con leve riesgo para algunas personas.
                {% elif estado_color.estado == 'verde' %}
                😊 Calidad Bueno: Calidad satisfactoria, sin riesgos conocidos.
                {% else %}
                ❓ Sin datos disponibles para esta partícula.
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</main>
</div>
     <!-- Footer con Tooltips -->

     <div class="footer">
        <div class="scale-item good">
            Bueno
            <div class="tooltip">
                😊 La calidad del aire se considera satisfactoria y la contaminación representa poco o ningún riesgo.
            </div>
        </div>
        <div class="scale-item moderate">
            Moderado
            <div class="tooltip">
                😐 La calidad del aire es aceptable; sin embargo, para algunos contaminantes podría haber un riesgo moderado.
            </div>
        </div>
        <div class="scale-item unhealthy-groups">
            No es saludable para grupos sensibles
            <div class="tooltip">
                😷 Los grupos sensibles pueden experimentar efectos de salud; la población en general no se verá afectada.
            </div>
        </div>
        <div class="scale-item unhealthy">
            Insalubre
            <div class="tooltip">
                ☠️ Todos pueden comenzar a experimentar efectos de salud; los grupos sensibles pueden tener efectos más graves.
            </div>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const datePicker = document.getElementById("datePicker");
            const today = new Date().toISOString().split("T")[0];
            datePicker.max = today;

            const urlParams = new URLSearchParams(window.location.search);
            const selectedDate = urlParams.get("fecha");
            if (selectedDate) {
                datePicker.value = selectedDate;
            }
        });

        function updateDate() {
            const datePicker = document.getElementById("datePicker");
            const selectedDate = datePicker.value;
            const comunaId = "{{ comuna.id_comuna }}";

            if (comunaId) {
                window.location.href = `${window.location.pathname}?comuna_id=${comunaId}&fecha=${selectedDate}`;
            } else {
                console.error("ID de comuna no disponible");
            }
        }
        function goBack() 
        {
        //window.history.back(); // Vuelve a la página anterior
        window.location.href = 'http://127.0.0.1:8000/monica/';
        }
    </script>
</body>
</html>
